.CreateMeetup-container {
    color: white;
    border: white 2px solid;
    width: 340px;
    height: 500px;
    margin: 20px;
    padding: 20px;
    background-color: black;
    opacity: 0.7;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.CreateMeetup-container label, .CreateMeetup-container input {
    display: block;
    margin: 5px auto;
}
.CreateMeetup-link {
    text-decoration: none;
    color: white;
}